.topicDetailContainer {
	:global(.content) {
		font-size: 25px !important;
		line-height: 35px !important;
		padding: 15px;
	}

	.detailContainer {
		margin-top: 7vh;

		.infoContainer {
			width: 100%;
			height: 7vh;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.infoTitle {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding-left: 20px;

				.userImage {
					width: 70px;
					height: 70px;
				}

				.info {
					display: flex;
					flex-direction: column;
					margin-left: 20px;

					.line {
						height: 33px;
						line-height: 33px;

						span {
							font-size: 25px;
							color: #000000;

							&.authorName {
								color: #94c73b;
								margin-right: 10px;
							}
						}
					}
				}
			}

			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 90px;
			}
		}

		.topicTitle {
			background: #eeeeee;
			font-size: 34px;
			font-weight: bold;
			padding: 8px 10px 8px;
			line-height: 50px;
		}

		.topicReply {
			background: #eee;
			border-left: 25px solid #80bd01;
			font-size: 30px;
			height: 70px;
			line-height: 70px;
			padding-left: 20px;

			span{
				color: #80bd01;
				font-size: 34px;
			}
		}

		.repliesContainer{
			width: 100%;
			height: auto;

			.replyContainer{
				display: flex;
				flex-direction: row;
				height: 100%;
				width: 100%;
				padding: 20px;
				box-sizing: border-box;

				.userImg{
					width: 100px;
					height: 100%;
				}

				.replyDetail{
					display: flex;
					flex-direction: column;
					flex: 1;
					position: relative;

					.floorIndex{
						position: absolute;
						top: 0;
						right: 0;
					}

					.replyInfo{
						font-size: 20px;
						color: #666;
					}

					.icons{
						align-self: flex-end;
					}
				}
			}
		}
	}
}
